<h3>Prueba llamadas Rest</h3>
<br />
<br />
<button (click)="getAllUsers()">Busca todos los usuarios</button>
<br />
<br />
<button (click)="getUser(1)">Busca usuario 1</button>
<br />
<br />
<button (click)="postUser()">Alta usuario</button>
<br />
<br />
<button (click)="putUser()">Modificar usuario</button>
<br />
<br />
<button (click)="deleteUser()">Borrar usuario</button>

<h3>Catálogos</h3>
<br />
<br />
<button (click)="getUserAlbum()">Busca catalogo de un usuario</button>
<br />
<br />
<button (click)="getUserTodo()">Busca TODO de un usuario</button>
<br />
<br />
<button (click)="getUserPosts()">Busca Post de un usuario</button>
<br />
<br />
<button (click)="getUserComments()">Busca Comentarios de un usuario</button>
